<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ibm.etools.mft.debug.internal.mbLaunchConfigurationDelegate">
    <stringAttribute key="BRName" value="Broker_r"/>
    <stringAttribute key="ConnectionInfo" value="192.168.1.67:4415"/>
    <stringAttribute key="EGName" value="S1"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_hostname" value="192.168.1.67"/>
    <stringAttribute key="com.ibm.etools.mft.debug.attr_javaportname" value="2"/>
</launchConfiguration>
